@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar {
  overflow-y: auto;
}

/* Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* =========================================
   CUSTOM SCROLLBAR
========================================= */

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.35);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.55);
}

/* FIREFOX */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.4) transparent;
}